@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Nunito");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=PT+Serif");

/* reset browser styles */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol {
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset browser styles */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  line-height: 1.2;
}
.my-text-primary {
  color: #ef5285;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6c7686;
}

.sticky {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 10px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  padding-bottom: 10px;
  font-weight: 900;
}

.sticky {
  background-color: rgb(255, 255, 255);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  color: #ef5285;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
  font-family: "Nunito";
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #343a40;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}

body.svg {
  background: url(img/hero-bg.svg) no-repeat center center fixed;
  background-size: cover;
}

.bam-row {
  display: flex;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.bam-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
}

section {
  padding: 100px 0px;
}

* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Comfortaa", "Nunito", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  font-family: "Dancing Script", sans-serif;
}

.lead {
  padding-top: 40px;
  margin-bottom: 23px;
  line-height: 1.9em;
  font-size: 1.25em;
  color: #777;
  font-weight: 300;
  font-family: "PT Serif", sans-serif;
  text-align: center;
}

span.my-text-primary {
  font-family: "Dancing Script";
  font-weight: 900;
  font-size: 25px;
}

.bam-underline {
  font-weight: 400;
  width: 100px;
  border: 3px solid #ef5285;
  margin: 0 auto;
  text-align: center;
}

.hero {
  position: relative;
  background: url(img/hero-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: left;
  color: #fff;
  padding-top: 110px;
  min-height: 700px;
  letter-spacing: 2px;
  font-family: "Dancing Script", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

div.hero-text {
  padding-top: 180px;
  left: 280px;
  position: absolute;
}

.hero-text h2 {
  font-size: 4rem;
  font-size: 700;
}

.hero-text h1 {
  font-size: 72px;
  font-family: "Dancing Script";
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.hero-text p {
  font-weight: 300;
  font-size: 20px;
  font-family: "Nunito";
  color: #fff;
}

.my-text-primary.organizer {
  font-size: 40px;
  font-family: "Dancing Script";
}

/**
			About Section
	*/

.about-bam {
  background-color: #f9f9f9;
}

.about-bam h1,
.how-bam-works h1 {
  text-align: center;
  font-size: 60px;
  color: #343a40;
  font-weight: 900;
}

div.bam-row.space-me {
  padding-top: 40px;
}

.bam-column {
  flex: 50%;
  padding: 10px;
  text-align: center;
}

.bam-column > img {
  width: 160px;
}

div.bam-column > h2 {
  font-family: "PT Serif";
  margin-bottom: 10px !important;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 700;
  color: #333;
}

div.bam-column > p {
  font-family: "PT Serif";
  margin-bottom: 10px;
}

.price {
  color: #ef5285a1;
  font-weight: 900;
}

.buy-btn {
  width: 50%;
  background: #fff;
  border: 1px solid #ef5285;
  color: #ef5285;
}

.buy-btn:hover {
  background: #ef5285;
  border: 1px solid #ef5285;
  color: #fff;
}

/*
			Form Style
	*/

/* Full-width input fields */

form {
  border: 1px solid #ccc;
  width: 600px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 10px;
}
div.formContainer p {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

label b {
  font-size: 13px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #cccccc0d;
  border: none;
  border-bottom: 1px solid #ef5285;
}

input[type="text"]:focus,
input[type="password"]:focus,input[type="email"]:focus {
  border: none;
  background-color: #ddd;
  border-bottom: 1px solid #ef5285;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #ef5285;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  /* opacity: 0.9; */
}

button:hover {
  /* opacity:1; */
  background-color: #fff;
  color: #ef5285;
  border: 1px solid #ef5285;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  border-radius: 24px;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 30px;
}

/* Add padding to container elements */
.formContainer {
  padding: 16px;
  width: 80%;
  margin: 0 auto;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  background-color: black;
  color: white;
  font-family: 'PT Serif';
  font-weight: 700;
}
